
h1 {
    font-family:'Courier New', Courier, monospace;
    /* color: #506882; */
    color: rgb(191, 127, 9);
    text-align: center;
    padding-right: 600px;
}
hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;               
    background-color: white;
    height: 3px;
  }
body{
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
    background-color: #9b8ec4;
}

/* -------------------------------------------------------- bio - author ---------------------------------------------------- */

.bio{
    
    color: white;
    font-size: 14px;
    background-color: #282a3a;
    width: 100%;
    height: 100%;
}   


/* -------------------------------------------------------- main container ---------------------------------------------------- */

.grid-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 100px;
    column-gap: 100px;
}

/* -------------------------------------------------------- header h1 container ---------------------------------------------------- */

.grid-container-header {

    background-color: #282a3a;
    display: grid;
    grid-template-columns: auto;
}

/* -------------------------------------------------------- div body ---------------------------------------------------- */

.grid-container-body{
    float: left;
    clear: none; 
    display: grid;
    grid-template-columns: auto;
}


/* -------------------------------------------------------- top nav ---------------------------------------------------- */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #282a3a;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(191, 127, 9); /*rgb(200, 0, 0);*/
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(2, 138, 40);
    color: white;
  }
/* -------------------------------------------------------- editor ---------------------------------------------------- */
.grid-for-editor-and-bio{
    display: grid;
    grid-template-columns: auto auto;
}
.grid-container-textarea-code_input {
    display: inline-flex;
    gap: 10px;
    font-family: monospace;
    line-height: 21px;
    background: #282a3a;
    border-radius: 2px;
    padding: 20px 10px;
}

.line-numbers {
    width: 20px;
    text-align: right;
}

.line-numbers span {
    counter-increment:  linenumber;
}

.line-numbers span::before {
    content: counter(linenumber);
    display: block;
    color: #506882;
}

.editor1_class {
    line-height: 21px;
    overflow-y: hidden;
    padding: 0;
    border: 0;
    background: #282a3a;
    color: #FFF;
    min-width: 500px;
    outline: none;
    resize: none;
}

.editor_bottom {
    height: 100px;
}

/* -------------------------------------------------------- output ---------------------------------------------------- */

.output_class {
    line-height: 21px;
    overflow-y: hidden;
    padding: 0;
    border: 0;
    background: #282a3a;
    color: #FFF;
    min-width: 500px;
    outline: none;
    resize: none;
}

/* -------------------------------------------------------- BUTTON ---------------------------------------------------- */
.grid-container-textarea-button{
    padding-top: 50px;

}
.run-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 1.2s;
}

.run-button:hover {
    background-color: rgb(2, 138, 40);
}

.run-button:active {
    opacity: 0.5;
}


