.row{
    height: 200px;
}
    /* border-color: black;
    border-width: 2px;
    border-style: dashed;
} */
/* .mynav{
    
} */
.titleimage{
    background-color: blue;
    height: 100px;
    color: white;
}

.bio{
    background-color: blue;
    color: white;
    font-size: 16px;
}

.run-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 1.2s;
}

.run-button:hover {
    background-color: rgb(2, 138, 40);
}

.run-button:active {
    opacity: 0.5;
}